# TP : PANDAS

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl

## Introduction

### 1

In [2]:
import pandas as pd

# Adjust the path as necessary
file_path = '120-years-of-olympic-history-athletes-and-results.csv'
data = pd.read_csv(file_path)

### 2

In [3]:
print("nombres de lignes  et de colonnes : %i x %i\n"%data.shape)
print("list of columns name : ",data.columns,"\n")
print("data info : ")
print(data.info())
print("\n")
print("data describe : ")
print(data.describe())

nombres de lignes  et de colonnes : 271116 x 15

list of columns name :  Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB
None


data describe :
                  ID            Age         Height         Weight  \
count  271116.000000  261642.000000  210945.000000  208241.000000
mean    68248.954396      25.556898     175.338970      70.702393
std     39022.286345       6.393561      10.518462      14.348020
min         1.000000      10.000000     127.000000      25.000000
25%     34643.000000      21.000000     168.000000      60.000000
50%     68205.000000      24.000000     175.000000      70.000000
75%    102097.250000      28.000000     183.000000      79.000000
max    135571.000000      97.000000     226.000000     214.000000

                Year
count  271116.000000
mean     1978.378480
std        29.877632
min      1896.000000
25%      1960.000000
50%      1988.000000
75%      2002.000000
max      2016.000000

### 3

In [4]:
data = data.rename(columns = {'ID' : 'ID', 'Name' : 'Nom', 'Sex' : 'Sexe', 'Age' : 'Age', 'Height' : 'Taille', 'Weight' : 'Poids', 'Team' : 'Équipe', 'NOC' : 'Nation', 'Games' : 'Jeux', 'Year' : 'Année', 'Season' : 'Saison', 'City' : 'Ville', 'Sport' : 'Sport', 'Event' : 'Évenement', 'Medal' : 'Médail'})

In [5]:
print(data.columns)

Index(['ID', 'Nom', 'Sexe', 'Age', 'Taille', 'Poids', 'Équipe', 'Nation',
       'Jeux', 'Année', 'Saison', 'Ville', 'Sport', 'Évenement', 'Médail'],
      dtype='object')

## Retour au csv original

### 4

In [6]:
data = pd.read_csv(file_path, index_col=0)

### 5

In [7]:
selected_columns_by_position = data.iloc[:, [0, 3, 4]]  # Adjust indexes as needed
print(selected_columns_by_position)

                            Name  Height  Weight
ID
1                      A Dijiang   180.0    80.0
2                       A Lamusi   170.0    60.0
3            Gunnar Nielsen Aaby     NaN     NaN
4           Edgar Lindenau Aabye     NaN     NaN
5       Christine Jacoba Aaftink   185.0    82.0
...                          ...     ...     ...
135569                Andrzej ya   179.0    89.0
135570                  Piotr ya   176.0    59.0
135570                  Piotr ya   176.0    59.0
135571        Tomasz Ireneusz ya   185.0    96.0
135571        Tomasz Ireneusz ya   185.0    96.0

[271116 rows x 3 columns]

In [8]:
selected_columns_by_name = data[['Name', 'Height', 'Weight']]
print(selected_columns_by_name)

                            Name  Height  Weight
ID
1                      A Dijiang   180.0    80.0
2                       A Lamusi   170.0    60.0
3            Gunnar Nielsen Aaby     NaN     NaN
4           Edgar Lindenau Aabye     NaN     NaN
5       Christine Jacoba Aaftink   185.0    82.0
...                          ...     ...     ...
135569                Andrzej ya   179.0    89.0
135570                  Piotr ya   176.0    59.0
135570                  Piotr ya   176.0    59.0
135571        Tomasz Ireneusz ya   185.0    96.0
135571        Tomasz Ireneusz ya   185.0    96.0

[271116 rows x 3 columns]

### 6

In [9]:
print(data.dtypes)

Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

### 7

In [10]:
# pas de date

### 8

In [11]:
excel_data = pd.read_excel('120-years-of-olympic-history-athletes-and-results.xlsx', engine='openpyxl')
print(excel_data)

            ID                      Name Sex   Age  Height  Weight  \
0            1                 A Dijiang   M  24.0   180.0    80.0
1            2                  A Lamusi   M  23.0   170.0    60.0
2            3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN
3            4      Edgar Lindenau Aabye   M  34.0     NaN     NaN
4            5  Christine Jacoba Aaftink   F  21.0   185.0    82.0
...        ...                       ...  ..   ...     ...     ...
271111  135569                Andrzej ya   M  29.0   179.0    89.0
271112  135570                  Piotr ya   M  27.0   176.0    59.0
271113  135570                  Piotr ya   M  27.0   176.0    59.0
271114  135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0
271115  135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0

                  Team  NOC        Games  Year  Season            City  \
0                China  CHN  1992 Summer  1992  Summer       Barcelona
1                China  CHN  2012 Summer  2012  Summer          London
2              Denmark  DEN  1920 Summer  1920  Summer       Antwerpen
3       Denmark/Sweden  DEN  1900 Summer  1900  Summer           Paris
4          Netherlands  NED  1988 Winter  1988  Winter         Calgary
...                ...  ...          ...   ...     ...             ...
271111        Poland-1  POL  1976 Winter  1976  Winter       Innsbruck
271112          Poland  POL  2014 Winter  2014  Winter           Sochi
271113          Poland  POL  2014 Winter  2014  Winter           Sochi
271114          Poland  POL  1998 Winter  1998  Winter          Nagano
271115          Poland  POL  2002 Winter  2002  Winter  Salt Lake City

                Sport                                     Event Medal
0          Basketball               Basketball Men's Basketball   NaN
1                Judo              Judo Men's Extra-Lightweight   NaN
2            Football                   Football Men's Football   NaN
3          Tug-Of-War               Tug-Of-War Men's Tug-Of-War  Gold
4       Speed Skating          Speed Skating Women's 500 metres   NaN
...               ...                                       ...   ...
271111           Luge                Luge Mixed (Men)'s Doubles   NaN
271112    Ski Jumping  Ski Jumping Men's Large Hill, Individual   NaN
271113    Ski Jumping        Ski Jumping Men's Large Hill, Team   NaN
271114      Bobsleigh                      Bobsleigh Men's Four   NaN
271115      Bobsleigh                      Bobsleigh Men's Four   NaN

[271116 rows x 15 columns]

### 9

In [12]:
import sqlite3
conn = sqlite3.connect('chinook.db')
db_data = pd.read_sql_query("SELECT * FROM artists, albums", conn)
# db_data = pd.read_sql_query("SHOW TABLES", conn)
print(db_data)

       ArtistId                   Name  AlbumId  \
0             1                  AC/DC        1
1             1                  AC/DC        2
2             1                  AC/DC        3
3             1                  AC/DC        4
4             1                  AC/DC        5
...         ...                    ...      ...
95420       275  Philip Glass Ensemble      343
95421       275  Philip Glass Ensemble      344
95422       275  Philip Glass Ensemble      345
95423       275  Philip Glass Ensemble      346
95424       275  Philip Glass Ensemble      347

                                                   Title  ArtistId
0                  For Those About To Rock We Salute You         1
1                                      Balls to the Wall         2
2                                      Restless and Wild         2
3                                      Let There Be Rock         1
4                                               Big Ones         3
...                                                  ...       ...
95420                             Respighi:Pines of Rome       226
95421  Schubert: The Late String Quartets & String Qu...       272
95422                                Monteverdi: L'Orfeo       273
95423                              Mozart: Chamber Music       274
95424  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[95425 rows x 5 columns]

### 10

In [13]:
json_data = pd.read_json('employees.json')
print(json_data)

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           1     Adams    Andrew      General Manager        NaN
1           2   Edwards     Nancy        Sales Manager        1.0
2           3   Peacock      Jane  Sales Support Agent        2.0
3           4      Park  Margaret  Sales Support Agent        2.0
4           5   Johnson     Steve  Sales Support Agent        2.0
5           6  Mitchell   Michael           IT Manager        1.0
6           7      King    Robert             IT Staff        6.0
7           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate                      Address  \
0  1962-02-18 00:00:00  2002-08-14 00:00:00          11120 Jasper Ave NW
1  1958-12-08 00:00:00  2002-05-01 00:00:00                 825 8 Ave SW
2  1973-08-29 00:00:00  2002-04-01 00:00:00                1111 6 Ave SW
3  1947-09-19 00:00:00  2003-05-03 00:00:00             683 10 Street SW
4  1965-03-03 00:00:00  2003-10-17 00:00:00                 7727B 41 Ave
5  1973-07-01 00:00:00  2003-10-17 00:00:00         5827 Bowness Road NW
6  1970-05-29 00:00:00  2004-01-02 00:00:00  590 Columbia Boulevard West
7  1968-01-09 00:00:00  2004-03-04 00:00:00                  923 7 ST NW

         City State Country PostalCode              Phone                Fax  \
0    Edmonton    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
1     Calgary    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2     Calgary    AB  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
3     Calgary    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
4     Calgary    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
5     Calgary    AB  Canada    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899
6  Lethbridge    AB  Canada    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485
7  Lethbridge    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0    andrew@chinookcorp.com
1     nancy@chinookcorp.com
2      jane@chinookcorp.com
3  margaret@chinookcorp.com
4     steve@chinookcorp.com
5   michael@chinookcorp.com
6    robert@chinookcorp.com
7     laura@chinookcorp.com

### 11

In [14]:
print(data['Weight'])

ID
1         80.0
2         60.0
3          NaN
4          NaN
5         82.0
          ...
135569    89.0
135570    59.0
135570    59.0
135571    96.0
135571    96.0
Name: Weight, Length: 271116, dtype: float64

### 12

In [15]:
data_subset = pd.read_csv(file_path, usecols=[1, 5], index_col=0)
print(data_subset)

                          Weight
Name
A Dijiang                   80.0
A Lamusi                    60.0
Gunnar Nielsen Aaby          NaN
Edgar Lindenau Aabye         NaN
Christine Jacoba Aaftink    82.0
...                          ...
Andrzej ya                  89.0
Piotr ya                    59.0
Piotr ya                    59.0
Tomasz Ireneusz ya          96.0
Tomasz Ireneusz ya          96.0

[271116 rows x 1 columns]

### 13

In [16]:
specific_athletes = data.loc[data['Name'].isin(['Antti Sami Aalto', 'Andrzej ya']), 'Weight']
print(specific_athletes)
print(specific_athletes)

ID
9         96.0
135569    89.0
Name: Weight, dtype: float64
ID
9         96.0
135569    89.0
Name: Weight, dtype: float64

### 14

In [17]:
series_data = pd.Series(["value1", "value2", "value3", "value4"], index=[1, 3, 2, 0])
print(series_data)

1    value1
3    value2
2    value3
0    value4
dtype: object

### 15

In [18]:
over_90kg = data[data['Weight'] > 90]
print(over_90kg)

                          Name Sex   Age  Height  Weight         Team  NOC  \
ID
9             Antti Sami Aalto   M  26.0   186.0    96.0      Finland  FIN
18        Timo Antero Aaltonen   M  31.0   189.0   130.0      Finland  FIN
22               Andreea Aanei   F  22.0   170.0   125.0      Romania  ROU
35      Dagfinn Sverre Aarskog   M  24.0   190.0    98.0       Norway  NOR
46                  Hans Aasns   M  33.0   194.0    93.0       Norway  NOR
...                        ...  ..   ...     ...     ...          ...  ...
135545         Henk Jan Zwolle   M  31.0   197.0    93.0  Netherlands  NED
135557            Dominik ycki   M  34.0   192.0    95.0       Poland  POL
135557            Dominik ycki   M  38.0   192.0    95.0       Poland  POL
135571      Tomasz Ireneusz ya   M  30.0   185.0    96.0       Poland  POL
135571      Tomasz Ireneusz ya   M  34.0   185.0    96.0       Poland  POL

              Games  Year  Season            City          Sport  \
ID
9       2002 Winter  2002  Winter  Salt Lake City     Ice Hockey
18      2000 Summer  2000  Summer          Sydney      Athletics
22      2016 Summer  2016  Summer  Rio de Janeiro  Weightlifting
35      1998 Winter  1998  Winter          Nagano      Bobsleigh
46      1936 Summer  1936  Summer          Berlin       Shooting
...             ...   ...     ...             ...            ...
135545  1996 Summer  1996  Summer         Atlanta         Rowing
135557  2008 Summer  2008  Summer         Beijing        Sailing
135557  2012 Summer  2012  Summer          London        Sailing
135571  1998 Winter  1998  Winter          Nagano      Bobsleigh
135571  2002 Winter  2002  Winter  Salt Lake City      Bobsleigh

                                              Event Medal
ID
9                       Ice Hockey Men's Ice Hockey   NaN
18                         Athletics Men's Shot Put   NaN
22          Weightlifting Women's Super-Heavyweight   NaN
35                             Bobsleigh Men's Four   NaN
46      Shooting Men's Rapid-Fire Pistol, 25 metres   NaN
...                                             ...   ...
135545                    Rowing Men's Coxed Eights  Gold
135557            Sailing Men's Two Person Keelboat   NaN
135557            Sailing Men's Two Person Keelboat   NaN
135571                         Bobsleigh Men's Four   NaN
135571                         Bobsleigh Men's Four   NaN

[16819 rows x 14 columns]

### 16

In [19]:
between_90_and_100kg = data[(data['Weight'] > 90) & (data['Weight'] < 100)]
print(between_90_and_100kg)

                          Name Sex   Age  Height  Weight         Team  NOC  \
ID
9             Antti Sami Aalto   M  26.0   186.0    96.0      Finland  FIN
35      Dagfinn Sverre Aarskog   M  24.0   190.0    98.0       Norway  NOR
46                  Hans Aasns   M  33.0   194.0    93.0       Norway  NOR
46                  Hans Aasns   M  45.0   194.0    93.0       Norway  NOR
46                  Hans Aasns   M  49.0   194.0    93.0       Norway  NOR
...                        ...  ..   ...     ...     ...          ...  ...
135545         Henk Jan Zwolle   M  31.0   197.0    93.0  Netherlands  NED
135557            Dominik ycki   M  34.0   192.0    95.0       Poland  POL
135557            Dominik ycki   M  38.0   192.0    95.0       Poland  POL
135571      Tomasz Ireneusz ya   M  30.0   185.0    96.0       Poland  POL
135571      Tomasz Ireneusz ya   M  34.0   185.0    96.0       Poland  POL

              Games  Year  Season            City       Sport  \
ID
9       2002 Winter  2002  Winter  Salt Lake City  Ice Hockey
35      1998 Winter  1998  Winter          Nagano   Bobsleigh
46      1936 Summer  1936  Summer          Berlin    Shooting
46      1948 Summer  1948  Summer          London    Shooting
46      1952 Summer  1952  Summer        Helsinki    Shooting
...             ...   ...     ...             ...         ...
135545  1996 Summer  1996  Summer         Atlanta      Rowing
135557  2008 Summer  2008  Summer         Beijing     Sailing
135557  2012 Summer  2012  Summer          London     Sailing
135571  1998 Winter  1998  Winter          Nagano   Bobsleigh
135571  2002 Winter  2002  Winter  Salt Lake City   Bobsleigh

                                              Event Medal
ID
9                       Ice Hockey Men's Ice Hockey   NaN
35                             Bobsleigh Men's Four   NaN
46      Shooting Men's Rapid-Fire Pistol, 25 metres   NaN
46      Shooting Men's Rapid-Fire Pistol, 25 metres   NaN
46                              Shooting Men's Trap   NaN
...                                             ...   ...
135545                    Rowing Men's Coxed Eights  Gold
135557            Sailing Men's Two Person Keelboat   NaN
135557            Sailing Men's Two Person Keelboat   NaN
135571                         Bobsleigh Men's Four   NaN
135571                         Bobsleigh Men's Four   NaN

[9892 rows x 14 columns]

### 17

In [20]:
serie_weight = pd.Series(data['Weight'][1000:].values, name='Weight')
serie_weight.index = range(1000, 1000 + len(serie_weight))
print(serie_weight)

1000      84.0
1001      84.0
1002      84.0
1003      73.0
1004      54.0
          ...
271111    89.0
271112    59.0
271113    59.0
271114    96.0
271115    96.0
Name: Weight, Length: 270116, dtype: float64

### 18

In [21]:
serie_weight_2 = pd.Series(data['Weight'][0:20].values, name='Weight')
print(serie_weight_2)

0     80.0
1     60.0
2      NaN
3      NaN
4     82.0
5     82.0
6     82.0
7     82.0
8     82.0
9     82.0
10    75.0
11    75.0
12    75.0
13    75.0
14    75.0
15    75.0
16    75.0
17    75.0
18    72.0
19    72.0
Name: Weight, dtype: float64

### 19

In [22]:
print(serie_weight.size)
print(serie_weight_2.size)

270116
20

### 20

In [23]:
print(serie_weight.describe())

count    207485.000000
mean         70.698342
std          14.349144
min          25.000000
25%          60.000000
50%          70.000000
75%          79.000000
max         214.000000
Name: Weight, dtype: float64

### 21

In [24]:
data_index = data.set_index('Name')
data_index.loc['Usain St. Leo Bolt']

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Name,,,,,,,,,,,,,
Usain St. Leo Bolt,M,17.0,196.0,95.0,Jamaica,JAM,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's 200 metres,NaN
Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 100 metres,Gold
Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 200 metres,Gold
Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 4 x 100 metres Relay,NaN
Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 100 metres,Gold
Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 200 metres,Gold
Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 4 x 100 metres Relay,Gold
Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 100 metres,Gold
Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 200 metres,Gold
Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 4 x 100 metres Relay,Gold

### 22

In [25]:
data_index.loc[['Usain St. Leo Bolt', 'Justin Alexander Gatlin']]

,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Name,,,,,,,,,,,,,
Usain St. Leo Bolt,M,17.0,196.0,95.0,Jamaica,JAM,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's 200 metres,NaN
Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 100 metres,Gold
Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 200 metres,Gold
Usain St. Leo Bolt,M,21.0,196.0,95.0,Jamaica,JAM,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Men's 4 x 100 metres Relay,NaN
Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 100 metres,Gold
Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 200 metres,Gold
Usain St. Leo Bolt,M,25.0,196.0,95.0,Jamaica,JAM,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 4 x 100 metres Relay,Gold
Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 100 metres,Gold
Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 200 metres,Gold
Usain St. Leo Bolt,M,29.0,196.0,95.0,Jamaica,JAM,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 4 x 100 metres Relay,Gold
Justin Alexander Gatlin,M,22.0,186.0,80.0,United States,USA,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's 100 metres,Gold
Justin Alexander Gatlin,M,22.0,186.0,80.0,United States,USA,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's 200 metres,Bronze
Justin Alexander Gatlin,M,22.0,186.0,80.0,United States,USA,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's 4 x 100 metres Relay,Silver
Justin Alexander Gatlin,M,30.0,186.0,80.0,United States,USA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 100 metres,Bronze
Justin Alexander Gatlin,M,30.0,186.0,80.0,United States,USA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 4 x 100 metres Relay,NaN
Justin Alexander Gatlin,M,34.0,186.0,80.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 100 metres,Silver
Justin Alexander Gatlin,M,34.0,186.0,80.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 200 metres,NaN
Justin Alexander Gatlin,M,34.0,186.0,80.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 4 x 100 metres Relay,NaN

### 23

In [26]:
data[(data['Sex'] == 'F') & (data['Medal'] == 'Gold')]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
21,Ragnhild Margrethe Aamodt,F,27.0,163.0,NaN,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold
150,Margaret Ives Abbott (-Dunne),F,23.0,NaN,NaN,United States,USA,1900 Summer,1900,Summer,Paris,Golf,Golf Women's Individual,Gold
832,Nicola Virginia Adams,F,29.0,164.0,51.0,Great Britain,GBR,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Flyweight,Gold
832,Nicola Virginia Adams,F,33.0,164.0,51.0,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Women's Flyweight,Gold
846,Valerie Kasanita Adams-Vili (-Price),F,23.0,193.0,120.0,New Zealand,NZL,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Shot Put,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135331,Olha Valentynivna Zubareva,F,22.0,182.0,90.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Handball,Handball Women's Handball,Gold
135488,Nataliya Vladimirovna Zuyeva,F,19.0,176.0,62.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold
135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold
135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold

### 24

In [27]:
data.isnull().sum()

Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

### 25

In [28]:
data.dropna(subset=['Height'], inplace=True)
print(data.info)

<bound method DataFrame.info of                             Name Sex   Age  Height  Weight         Team  NOC  \
ID
1                      A Dijiang   M  24.0   180.0    80.0        China  CHN
2                       A Lamusi   M  23.0   170.0    60.0        China  CHN
5       Christine Jacoba Aaftink   F  21.0   185.0    82.0  Netherlands  NED
5       Christine Jacoba Aaftink   F  21.0   185.0    82.0  Netherlands  NED
5       Christine Jacoba Aaftink   F  25.0   185.0    82.0  Netherlands  NED
...                          ...  ..   ...     ...     ...          ...  ...
135569                Andrzej ya   M  29.0   179.0    89.0     Poland-1  POL
135570                  Piotr ya   M  27.0   176.0    59.0       Poland  POL
135570                  Piotr ya   M  27.0   176.0    59.0       Poland  POL
135571        Tomasz Ireneusz ya   M  30.0   185.0    96.0       Poland  POL
135571        Tomasz Ireneusz ya   M  34.0   185.0    96.0       Poland  POL

              Games  Year  Season            City          Sport  \
ID
1       1992 Summer  1992  Summer       Barcelona     Basketball
2       2012 Summer  2012  Summer          London           Judo
5       1988 Winter  1988  Winter         Calgary  Speed Skating
5       1988 Winter  1988  Winter         Calgary  Speed Skating
5       1992 Winter  1992  Winter     Albertville  Speed Skating
...             ...   ...     ...             ...            ...
135569  1976 Winter  1976  Winter       Innsbruck           Luge
135570  2014 Winter  2014  Winter           Sochi    Ski Jumping
135570  2014 Winter  2014  Winter           Sochi    Ski Jumping
135571  1998 Winter  1998  Winter          Nagano      Bobsleigh
135571  2002 Winter  2002  Winter  Salt Lake City      Bobsleigh

                                           Event Medal
ID
1                    Basketball Men's Basketball   NaN
2                   Judo Men's Extra-Lightweight   NaN
5               Speed Skating Women's 500 metres   NaN
5             Speed Skating Women's 1,000 metres   NaN
5               Speed Skating Women's 500 metres   NaN
...                                          ...   ...
135569                Luge Mixed (Men)'s Doubles   NaN
135570  Ski Jumping Men's Large Hill, Individual   NaN
135570        Ski Jumping Men's Large Hill, Team   NaN
135571                      Bobsleigh Men's Four   NaN
135571                      Bobsleigh Men's Four   NaN

[210945 rows x 14 columns]>

### 26

In [29]:
# First, fill NA values with the column means
data[['Age', 'Height', 'Weight']].fillna(data[['Age', 'Height', 'Weight']].mean())

# Then, if you want to verify the operation, print the DataFrame or the specific columns
print(data[['Age', 'Height', 'Weight']])

         Age  Height  Weight
ID
1       24.0   180.0    80.0
2       23.0   170.0    60.0
5       21.0   185.0    82.0
5       21.0   185.0    82.0
5       25.0   185.0    82.0
...      ...     ...     ...
135569  29.0   179.0    89.0
135570  27.0   176.0    59.0
135570  27.0   176.0    59.0
135571  30.0   185.0    96.0
135571  34.0   185.0    96.0

[210945 rows x 3 columns]

### 27

In [30]:
data.duplicated().sum()

28

### 28

In [31]:
data.drop_duplicates(inplace=True)

### 29

In [32]:
data.shape

(210917, 14)

### 30

In [ ]:
data.groupby("Sport").mean().loc[:, ['Age', 'Height', 'Weight']]

### 31

In [33]:
data.groupby(['Sport', 'Sex']).mean().loc[:, ['Age', 'Height', 'Weight']]

TypeError: agg function failed [how->mean,dtype->object]